@media screen and (max-width: 1170px) {
    #nav-list, 
    #navbar .btn-default {
        display: none;
    }

    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
}